*{margin: 0; padding: 0;}

.col{
    width: 27rem;
    height: 27rem;
}

body{
    background-color: black;
    overflow-x: hidden;
}

header{
    position: sticky; top: 0;
    z-index: 999;
}

#barraNavegacion{
    margin-bottom: 1rem;
}

.card-title{
    color: red;
}

.card-body{
    background-color: black;
    color: white;
}

footer{
    width: 100%;
    text-align: center;
    background-color: grey;
    font-size: medium;
    color: white;
    margin-top: 2rem;
}

.fa-solid{
    color: black;
}

.marca_registrada{
    font-weight: bold;
    color: white;
}

.redes_sociales{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.logos{
    font-size: x-large;
}

.mapita{
    color: black;
    position: relative; bottom: 1rem;
}