*{margin: 0; padding: 0;}

header{
    position: sticky; top: 0;
    z-index: 999;
}

.bienvenida{
    color: white;
    align-content: flex-end;
}

.borde{
    border: 1px #000 solid;
    text-align: center;
    height: 50px;
}

body{
    overflow-x: hidden;
    background-image: url(../Imagenes/opcion3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #272927;
}

.banner{
    background-image: url(../Imagenes/standard.gif); height: 3.69rem;
    background-repeat: repeat;
}

article{
    width: 78%;
    grid-column: 2;
    grid-row: 2;
    float: left;
    margin: 0.5rem;
    border-right: 0.1rem;
    border-right-style: solid;
    border-color: gray;
}

aside{
    width: 20%;
    grid-column: 2;
    grid-row: 2;
    float: left;
    /* margin: 1rem; */
    /* padding-left: 1rem; */
}

.contenedor{
    padding-top: 2rem;
    padding-bottom: 2rem;
/*     background-color: #272927 */
}

footer{
    width: 100%;
    text-align: center;
    background-color: grey;
    font-size: medium;
    color: white;
}

.fa-solid{
    color: black;
}

.marca_registrada{
    font-weight: bold;
    color: white;
}

.redes_sociales{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.logos{
    font-size: x-large;
}
