/* PATROCINADORES */
.slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: sticky; bottom: 0;
}

.slide{
    margin: 0.5rem;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

/* NOTICIAS */
.slider2 {
    width: 100vw;
    height: 3rem;
    margin: auto;
    overflow: hidden;
    position: sticky; bottom: 0;
}

.slide2{
    margin: 1rem;
}

.slider2 .slide-track2 {
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(1000px * 14);
}

.slider2 .slide2 {
    width: auto;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}