*{margin: 0; padding: 0;}

header{
    position: sticky; top: 0;
    z-index: 999;
}

.bienvenida{
    color: white;
    align-content: flex-end;
}

.noticias{
    font-family: 'Cinzel', serif;
}


body{
    overflow-x: hidden;
    background-image: url(../Imagenes/opcion3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #272927;
}

.temporada2022{
    color: red;
}

article{
    width: 80%;
    grid-column: 2;
    grid-row: 2;
    float: left;
    margin: 0.5rem;
    border-right: 0.1rem;
    border-right-style: solid;
    border-color: gray;
}

.ganador{
    background-color: #151615b7;
    color: white;
}

.goodNewsMercedes{
    background-color: #151615b7;
    color: white;
}

.noticia2{
    clear: both; 
    width: 35.5rem; height: 25.5rem;
    float: right;
}

aside{
    width: 18%;
    grid-column: 2;
    grid-row: 2;
    float: right;
    /* margin: 1rem; */
    /* padding-left: 1rem; */
}

.contenedor{
    padding-top: 2rem;
    padding-bottom: 2rem;
/*     background-color: #272927 */
}

footer{
    width: 100%;
    text-align: center;
    font-size: medium;
    color: white;

}

.fa-solid{
    color: white;
}

.marca_registrada{
    font-weight: bold;
    color: white;
}

.redes_sociales{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.logos{
    font-size: x-large;
}
