/* PATROCINADORES */

.patrocinadores{
    position: relative; bottom: 0;
}

.carrusel {
    height: 100vh;
    display: flex;
    align-items: center;
}

.carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
}

.carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid black;
    cursor: pointer;
}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.carrusel-item:hover {
    transform: scale(1.2);
}



/* NOTICIAS */

.noticias{
    color: red;
}

.slider2 {
    width: 100vw;
    height: 3rem;
    margin: auto;
    overflow: hidden;
    position: sticky; bottom: 0;
}

.slide2{
    margin: 1rem;
}

.slider2 .slide-track2 {
    display: flex;
    animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    width: calc(1000px * 24);
}

.slider2 .slide2 {
    width: auto;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 12));
        transform: translateX(calc(-200px * 12));
    }
}