*{margin: 0; padding: 0;}

footer{
    width: 100%;
    text-align: center;
    background-color: grey;
    font-size: medium;
    color: white;
}

.fa-solid{
    color: black;
}

.marca_registrada{
    font-weight: bold;
    color: white;
}

.redes_sociales{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.logos{
    font-size: x-large;
}