*{margin: 0; padding: 0;}

.col{
    width: 27rem;
    height: 27rem;
}

body{
    background-color: black;
    overflow-x: hidden;
    background-image: url(../Imagenes/opcion3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    position: sticky; top: 0;
    z-index: 999;
}

#barraNavegacion{
    margin-bottom: 1rem;
}

.card-title{
    color: red;
}

.card-body{
    background-color: black;
    color: white;
}

footer{
    width: 100%;
    text-align: center;
    font-size: medium;
    color: white;
    margin-top: 2rem;
}

.fa-solid{
    color: black;
}

.marca_registrada{
    font-weight: bold;
    color: white;
}

.redes_sociales{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.logos{
    font-size: x-large;
}

.mapita{
    color:white;
    position: relative; bottom: 1rem;
}

#scrollUp{
    bottom: 1.25rem;
    right: 1.25rem;
    width: 3.12rem;
    height: 3.12rem;
    background: url(../Imagenes/top.png);
    background-size: cover;
}